/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --green-primary: #3cb815;
    --light-green-third: #c0eb7b;
    --orange-secondary: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--light-green-third);
}

::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: var(--green-primary);
    border-radius: 5rem;
}

section {
    padding: 4.5rem 0 1.5rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color)
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.75s;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user .user-name {
    font-size: 13px;
    font-weight: 500;
}

.logo {
 display: flex;
 align-items: center;
 font-size: 1.1rem;
 font-weight: 600;
 color: var(--text-color);
 column-gap: 0.5rem;
}

.logo .material-symbols-outlined {
    font-size: 24px;
    color: var(--orange-secondary);
}

.navbar {
    display: flex;
    column-gap: 0.85rem;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover, 
.navbar .home-active {
    background: var(--green-primary);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: 0.85s;
}

#burger {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(../img/vecteezy_hand-drawn-vegetables.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container img {
    width: 450px;
    position: absolute;
    right: 270px;
    bottom: 100px;
}

.home-text {
    position: relative;
    top: 260px;
    right: -105px;
}

.home-text span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-primary);
}

.home-text h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 0.2rem 0.6rem 1.35rem;
    background: var(--green-primary);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
    max-width: 145px;
}

.btn span {
    color: var(--text-color);
    padding: 8px;
    background: var(--bg-color);
    border-radius: 2rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: #c0eb7b;
    color: var(--text-color);
    transition: 0.4s;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 2rem;
    color: var(--green-primary);
}

.swiper-button-next::after {
    color: var(--green-primary);
}

.swiper-button-prev::after {
    color: var(--green-primary);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--green-primary);
}

/* Block Categories */
.categories {
    max-width: 1274px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 6rem;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.categories-container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    min-height: 250px;
}

.categories-container .box h2 {
    font-size: 1rem;
    font-weight: 600;
}

.categories-container .box span {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.categories-container .box .material-symbols-outlined {
 padding: 10px;
 background: var(--green-primary);
 color: var(--bg-color);
 border-radius: 5rem;
 margin-top: 2rem;
 position: absolute;
 bottom: -9%;
 display: none;
}

.categories-container .box .material-symbols-outlined:hover {
    background: #c0eb7b;
    color: var(--text-color);
    transition: 0.4s all linear;
}

.categories-container .box:hover .material-symbols-outlined {
    display: block;
    transition: 0.4s all linear;
}

.bg-style-1 {
    background: #fef4ea;
}

.bg-style-2 {
    background: #e9f4e3;
}

.bg-style-3 {
    background: #faeaea;
}

.bg-style-4 {
    background: #eeeef9;
}

.bg-style-5 {
    background: #f7f6d7;
}

.products {
    max-width: 1274px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 6rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(301px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box {
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}

.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container .box span {
    font-weight: 500;
    font-size: 13px;
}

.products-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.products-container .box .price {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--orange-secondary);
}

.products-container .box .price span {
    color: var(--text-color);
}

.products-container .box .style-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-primary);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}

.products-container .box .style-cart:hover {
    background: var(--light-orange-color);
    transition: 0.2s all linear;
}

.products-container .box .style-hart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--orange-secondary);
}

.products-container .box .style-hart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--orange-secondary);
}

.products-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--orange-secondary);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

/* Block About */

.about {
    max-width: 1274px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about .btn {
    max-width: 175px;
}

.about-text span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-primary);
}

.about-text p {
    margin: 0.5rem 0 1rem;
}

/* Block Customers */
.customers {
    max-width: 1274px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 6rem;
}

.customers h2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box {
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--green-primary);
}

.customers-container .box:hover {
    transform: translateY(10px);
    transition: 0.2s all linear;
}

.customers-container .box span {
    font-size: 24px;
    color: var(--green-primary);
}

.customers-container .box .stars {
    font-size: 1rem;
    color: var(--orange-secondary);
}

.customers-container .box p {
    font-size: 0.938rem;
}

.review-profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem
}

.review-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile h3 {
    font-size: 1rem;
    font-weight: 600;
}

/* Block Footer */
.footer {
    max-width: 1274px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #fef4ea;
    border-radius: 0.5rem;
    padding: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}

.footer-box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a {
    color: #868a92;
    margin-bottom: 1rem;
}

.footer-box a:hover {
    color: var(--orange-secondary);
}

.footer-box>form {
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    max-width: 244px;
}

.footer-box form input {
    background: transparent;
    border: none;
    outline: none;
}

/* Making Responsive */
@media (max-width: 1300px) {
    .container img {
        right: 130px;
    }
}

@media (max-width: 1080px) {
    header {
        padding: 18px 60px;
    }
    .home-text {
        padding: 0 0px;
    }
    .container img {
        right: 75px;
    }
}

@media (max-width: 991px) { 
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
    .home-text {
        right: -67px;
    }
    .home-text h1 {
        font-size: 2rem;
    }   
}

@media (max-width: 852px) { 
    header {
        padding: 12px 4%;
    }
    .container img {
        width: 340px;
    }
    #menu-icon {
        display: initial;
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: left;
    }
    .navbar a {
        padding: 1rem;
        margin: 1rem;
        display: block;
    }
    .navbar a:hover,
    .navbar .home-active {
        border-radius: 0.5rem;
        color: var(--bg-color);
    }
    #burger {
        display: block;
    }
    .navbar.active {
        top: 100%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
    .categories-container .box {
        padding: 20px 54px;
    }
    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(244px, auto));
    }
}

@media (max-width: 754px) { 
    .container img {
        right: 30px;
    }
    .heading h1 {
        font-size: 1.2rem;
    }
    .categories-container .box {
        padding: 20px 43px;
    }
    .about {
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }
    .about img {
        order: 2;
    }
    .about-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn {
        max-width: 151px;
        padding: 0.6rem 0.8rem;
    }
    .customers h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 642px) { 
    .container img {
        right: -10px;
        width: 315px;
    }
    .about {
        grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
        padding: 1rem;
    }
    .categories {
        padding: 50px 4%;
    }
    .products {
        padding: 50px 4%;
    }
    .customers {
        padding: 50px 4%;
    }
}

@media (max-width: 578px) { 
    .container img {
        right: 45px;
        width: 250px;
        height: 250px;
        object-fit: contain;
        bottom: 10px;
    }
    .btn {
       padding: 0.4rem 0.6rem;
    }
}

@media (max-width: 460px) { 
    .logo {
        font-size: 1rem;
    }
    .user img {
        width: 30px;
        height: 30px;
    }
    .user span {
        font-size: 10px;
    }
    .home-text {
        top: 140px;
        padding-bottom: 17rem;
    }
    .home-text h1{
        font-size: 1.2rem;
    }
    .categories-container img {  
        width: 100%;
    }
    .heading h1{
        font-size: 1.2rem;
    }
    .heading {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 412px) { 
    .categories-container img {  
        width: 50%;
    }
    .container img {
        right: 4px;
    }
}