/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --green-primary: #3cb815;
    --light-green-third: #c0eb7b;
    --orange-secondary: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
}

section {
    padding: 4.5rem 0 1.5rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color)
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.75s;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user .user-name {
    font-size: 13px;
    font-weight: 500;
}

.logo {
 display: flex;
 align-items: center;
 font-size: 1.1rem;
 font-weight: 600;
 color: var(--text-color);
 column-gap: 0.5rem;
}

.logo .material-symbols-outlined {
    font-size: 24px;
    color: var(--orange-secondary);
}

.navbar {
    display: flex;
    column-gap: 0.85rem;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover, 
.navbar .home-active {
    background: var(--green-primary);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.85s;
}

#burger {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(../img/vecteezy_hand-drawn-vegetables.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container img {
    width: 450px;
    position: absolute;
    right: 270px;
    bottom: 100px;
}

.home-text {
    position: relative;
    top: 260px;
    right: -105px;
}

.home-text span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-primary);
}

.home-text h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 0.2rem 0.6rem 1.35rem;
    background: var(--green-primary);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
    max-width: 145px;
}

.btn span {
    color: var(--text-color);
    padding: 8px;
    background: var(--bg-color);
    border-radius: 2rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: #c0eb7b;
    color: var(--text-color);
    transition: 0.4s;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 2rem;
    color: var(--green-primary);
}

.swiper-button-next::after{
    color: var(--green-primary);
}

.swiper-button-prev::after{
    color: var(--green-primary);
}